body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://www.transparenttextures.com/patterns/white-diamond.png');
  background-color: #0d0d0d;
  color: white;
  line-height: 1.6;
}

header {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Playfair Display', serif;
  color: #F8C8DC;
  padding: 1.3vw 0;
}

hr {
  border: none;
  height: 0.1vh;
  background-color: #E9B0D6;
  margin: 0.6vw auto;
  width: 50%;
}

.cocktail-container {
  max-width: 79vw;
  margin: 2vw auto;
  padding: 1.3vw;
  background-image: linear-gradient(to bottom, #4B0082, #3D0C11, #2C2C2C);
  border-radius: 1vw;
  box-shadow: 0 0.6vw 1.3vw rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.cocktail-container img {
  border-radius: 1vw;
  width: 100%;
  max-width: 33vw;
  box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.cocktail-container img:hover {
  transform: scale(1.05);
}

.cocktail-info {
  max-width: 40vw;
  padding: 2vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cocktail-info h2 {
  font-size: 3em;
  color: #F2F4F4;
  margin-bottom: 1.7vh;
  text-shadow: 0.1vw 0.1vw 0.6vw rgba(0, 0, 0, 0.8);
}

.cocktail-info p {
  font-size: 1.2em;
  color: #E8DAEF;
}

.ingredients {
  background-image: linear-gradient(to bottom, #6c08b3, #9133b6, #9B59B6);
  padding: 1.6vw;
  border-radius: 0.6vw;
  box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.3);
  margin-top: 2.5vh;
}

.ingredients h3 {
  font-size: 2em;
  margin-bottom: 1.3vh;
  color: #F8F9F9;
}

.ingredients ul {
  padding-left: 1.3vw;
}

.ingredients ul li {
  margin-bottom: 0.9vh;
  font-size: 1.1em;
  color: #AED6F1;
}

.btn {
  background-color: #E9B0D6;
  color: #333333;
  padding: 1vw 1.6vw;
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.3vw;
  text-decoration: none;
  display: inline-block;
  margin-top: 2.6vh;
  font-weight: bold;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #E8DAEF;
  transform: scale(1.05);
}

.review h2 {
  width: 6vw;
  display: block;
  font-size: 1.8em;
  color: #F1948A;
  margin: 0.6vw 0;
}

.review p {
  width: 8vw;
  display: block;
  font-size: 1.5em;
  color: #F5B7B1;
}

@media (max-width: 768px) {
  .cocktail-container {
    flex-direction: column;
    align-items: center;
  }

  .cocktail-info {
    max-width: 100%;
    padding: 2vw;
  }

  .cocktail-container img {
    width: 100%;
    margin-bottom: 2vh;
  }
}


.opacity {
  position: relative;
  text-align: right;
}

.blur_image {
  width: 100%; 
  filter: blur(0.6vw);
  opacity: 0.5;
  transition: all 0.45s ease;
}

.img_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
  transition: all 0.5s ease;
}
.opacity:hover .blur_image {
  filter: blur(0px);
  opacity: 1;
}

.opacity:hover .img_text {
  opacity: 0;
  visibility: hidden;
}